<div class="login-container">
  
  <div class="brand-title">Login</div>
  <div class="inputs">
      <label for="username">Email:</label>
      <input 
          type="text" 
          id="username" 
          [(ngModel)]="user.Email" 
          name="username" 
          placeholder="Enter your username" 
          required
      />
      <label for="password">Password:</label>
      <input 
          type="password" 
          id="password" 
          [(ngModel)]="user.Password" 
          name="password" 
          placeholder="Enter your password" 
          required
      />
      <button type="submit">Login</button>
  </div>
  <p>
      Don't have an account?
      <a (click)="register()">Register here</a>
  </p>
  <div *ngIf="loginSuccess" class="alert alert-success">
      Login successful!
  </div>
  <div *ngIf="loginError" class="alert alert-danger">
      <div *ngIf="loginError === 'Incorrect email. Please try again.'">
          Incorrect email. Please check your email address and try again.
      </div>
      <div *ngIf="loginError === 'Incorrect password. Please try again.'">
          Incorrect password. Please try again.
      </div>
      <div *ngIf="loginError !== 'Incorrect email. Please try again.' && loginError !== 'Incorrect password. Please try again.'">
          {{ loginError }}
      </div>
  </div>
</div>
