

/* Style for the navigation bar */
nav {
    background-color: #333;
    padding: 1.5em;
    display: flex;
    align-items: right;
    justify-content: space-between;
  }
  
  /* Style for the title */
  nav h1 {
    color: white;
    font-size: 2em; /* Increased font size */
    font-weight: bold; /* Bolder font */
    margin: 0;
    gap: 35px;
    font-family: 'League Spartan', sans-serif
}

/* Style for the list of links */
nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  font-size: 1.5em; 
  padding: 0;
  font-weight: bold; 
  font-family: 'League Spartan', sans-serif
}

/* Style for each list item */
nav ul li {
  margin-right: 1em;
}

/* Style for the links */
nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1em;
  transition: color 0.3s;
}

nav ul li a:hover {
  color: #00bcd4;
}

/* Hamburger Menu Styling */
.hamburger-menu {
  display: none; /* Hidden on desktops */
  flex-direction: column;
  cursor: pointer;
}

.hamburger-menu div {
  background-color: white;
  height: 3px;
  margin: 5px 0;
  width: 25px;
  transition: all 0.3s ease;
}

/* When hamburger menu is active, animate into an "X" */
.hamburger-menu.active div:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}
.hamburger-menu.active div:nth-child(2) {
  opacity: 0;
}
.hamburger-menu.active div:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  /* Hide nav-links by default on mobile */
  nav ul {
    display: none;
    flex-direction: column;
    background: rgb(43, 43, 110);
    position: absolute;
    top: 70px; /* Adjust this value if needed */
    right: 0;
    width: 100%;
    padding: 1rem 0;
    border-radius: 0 0 10px 10px;
    z-index: 999;
  }
  
  /* When active, show the menu */
  nav ul.active {
    display: flex;
  }
  
  .hamburger-menu {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 1.5em; /* Increased font size */
    font-family: 'League Spartan', sans-serif
  }
  
  nav ul li {
    margin: 10px 0;
    text-align: center;
    width: 100%;
  }
  
  /* Style for the links */
  nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    transition: color 0.3s;
    font-weight: bold; /* Bolder font */

  }
  
  nav ul li a:hover {
    color: #7E99A3;
  }

  /* #00bcd4; */ 
  /* for navbar color */
}