<div>
    <h1>Announcements</h1>
    <input type="text" placeholder="Search..." [(ngModel)]="searchQuery" />
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Name</th>
                <th>Content</th>
                <th>Published Date</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let announcement of filteredAnnouncements">
                <td>{{ announcement.number }}</td>
                <td>{{ announcement.title }}</td>
                <td>{{ announcement.content }}</td>
                <td>{{ announcement.publishedDate }}</td>
            </tr>
        </tbody>
    </table>
</div>
